[Desktop Entry]
Version=0.1
Type=Application
Name=Plin
Comment=Time management application
Exec=~/.local/bin/plin
Icon=utilities-terminal
Terminal=false
Categories=Utility;TimeManagement;
