[Desktop Entry]
Version=0.1
Type=Application
Name=Plin
Comment=Time management application
Icon=plin
Exec=env bash -c "~/.local/bin/plin"
Terminal=false
Categories=Utility;TimeManagement;
